/* Estilos gerais */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding-top: 70px; /* Ajuste esse valor conforme a altura do seu cabeçalho */
}


h1, h2, h3 {
    color: #8C6F50; 
    
}

a {
    color: #8C6F50; 
    text-decoration: none;
}

a:hover {
    color: #8C6F50; 
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 0; /* Remove qualquer padding extra */
    margin: 0; /* Remove margens */
    background-color: #fff;
    position: absolute; /* Posiciona diretamente no topo da tela */
    top: 0; /* Garante que fique no topo */
    left: 0;
    right: 0;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

/* Ajuste no container do cabeçalho */
.header-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos se ajustem em telas pequenas */
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    
    }


/* Ajuste na logo para não ultrapassar a tela */
.logo-container {
    max-width: 150px; /* Ajuste conforme necessário */
}

.logo {
    width: 100%;
    height: auto;
}

/* Ajuste na barra de navegação */
.nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar ul li a {
    text-decoration: none;
    font-size: 16px;
}
/* Barra de pesquisa */
.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-btn {
    background-color: #8C6F50; 
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.search-btn:hover {
    background-color: #8C6F50; 
}

/* Estilização da lista de redes sociais */
.social-links {
    list-style: none;
    display: flex;
    gap: 10px; /* Espaçamento entre ícones */
    align-items: center;
}

/* Ajuste no tamanho dos ícones */
.social-links li img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

/* Ajuste no filtro dos ícones */
.social-links img {
    width: 40px;
    height: 40px;
    filter: grayscale(80%);
    transition: 0.3s;
}

.social-links img:hover {
    filter: none; /* Retorna à cor original ao passar o mouse */
}

/* Efeito de hover nos ícones */
.social-links li img:hover {
    transform: scale(1.1);
}


/* Seção de Produtos */
/* Card do Produto */
/* Estilos gerais da seção de produtos */
#produtos {
    background-color: #f9f9f9; /* Cor de fundo suave para a seção */
    padding: 40px 20px;
    text-align: start;
    
}


#produtos h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #8C6F50; /* Cor de destaque para o título */
}

/* Container de produtos */
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Produto */
.produto {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease;
    position: relative;
}

.produto:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

/* Banner de promoção */
.banner-promocao {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #8C6F50; 
    color: #fff;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 5px;
}

/* Imagem do produto */
.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos do nome do produto */
.produto h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

/* Preço original e promocional */
.preco-antigo {
    text-decoration: line-through;
    color: #999;
}

.preco-promocional {
    font-size: 1.5em;
    color: #8C6F50;  /* Cor de destaque para o preço promocional */
    margin-bottom: 10px;
}

/* Estilo do botão */
.btn {
    display: inline-block;
    background-color: #cab297; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #8C6F50;  /* Cor mais escura quando o botão é hover */
}


.meu-link {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    color: #8C6F50; 
    text-transform: uppercase;
    transition: color 0.3s;
}

.meu-link:hover {
    color: #8C6F50; 
}

/* Ofertas */
#ofertas {
    background-color: #f9f9f9; /* Fundo suave para a seção */
    padding: 40px 0;

  }
 
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  h2 {
    font-size: 2.2rem;
    text-align: center;
    color: #8C6F50;  /* Cor vibrante para o título */
    margin-bottom: 30px;
  }
  
  .offer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Responsividade automática */
    gap: 30px; /* Espaçamento entre os itens */
  }
  
  .offer-item {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .offer-item:hover {
    transform: translateY(-10px); /* Leve deslocamento para cima */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
  }
  
  .offer-item h3 {
    font-size: 1.8rem;
    color: #8C6F50;  /* Cor vibrante para o título */
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .offer-item p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .offer-btn {
       display: inline-block;
    background-color: #8C6F50; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .offer-btn:hover {
    background-color: #eedde3; /* Tom mais escuro no hover */
    transform: scale(1.05); /* Leve aumento no botão */
  }
  
  


/* Formulário de Contato */
form {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #8C6F50; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color:#8C6F50; 
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
}
.btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-container {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #8C6F50; 
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
  }
 /* Estilos do formulário de agendamento */
#agendamento {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}

#agendamento h2 {
    font-size: 2rem;
    color: #8C6F50; 
    margin-bottom: 20px;
}

#agendamento p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1rem;
    color: #333;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #8C6F50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #8C6F50; 
}

#confirmacao {
    color: #4caf50;  /* Cor verde para sucesso */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.produto {
    transition: opacity 0.3s ease;
}
.contatosfinal li {
    margin: 0 10px;
}

.contatosfinal img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.contatosfinal img:hover {
    transform: scale(1.1);
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #8C6F50; 
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Ajuste para telas menores */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column; /* Empilha os elementos */
        text-align: center;
    }

    .nav-bar ul {
        flex-direction: column; /* Coloca os itens do menu um abaixo do outro */
        padding: 0;
    }

    .nav-bar ul li {
        margin-bottom: 10px;
    }

    .search-container {
        width: 100%;
        text-align: center;
    }

    .search-input {
        width: 90%;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px 0;
    }
}/* Ajuste para telas menores */
@media (max-width: 768px) {
    footer img {
        max-width: 120px; /* Reduz a imagem em telas pequenas */
    }
}
#sobre {
    text-align: center; /* Centraliza o texto */
    max-width: 800px; /* Define um limite para o conteúdo */
    margin: 0 auto; /* Centraliza a seção */
    padding: 20px; /* Adiciona espaço ao redor */
}

/* Para telas menores */
@media (max-width: 768px) {
    #sobre {
        padding: 15px;
    }
    #produtos {
        background-color: #f9f9f9; /* Cor de fundo suave para a seção */
        padding: 40px 20px;
        text-align: start;
        padding-top: 370px; /* Ajuste conforme necessário */
    }
}
